

body {
    
    .page_analyse {
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        width: auto;
        height: 100vh;
    
        .haut_de_page {
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            padding: 50px;
            width: auto;
            height: 10%;
            align-items: center;
            margin: 10px 10px 5px 10px;
            
            background: rgba(255, 255, 255, 0.3);
            border-radius: 5px;
            backdrop-filter: blur(3px);
            -webkit-backdrop-filter: blur(15px);

            .titre {
                font-size: 40px;
            }
            
            .rechLogo {
                display: flex;
                flex-direction: row;
                justify-content: space-between;


                .logo {
                    display: flex;
                    width: 100px;
                    height: 100px;
                }
            }            
        }
    
        .bas_de_page {
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            width: auto;
            height: 86%;
    
            .nav_bar_verticale {
                display: flex;
                flex-direction: column;
                justify-content: space-around;
                align-items: center;
                width: 5%;
                margin: 5px 5px 10px 10px;

                background: rgba(255, 255, 255, 0.3);
                border-radius: 5px;
                backdrop-filter: blur(3px);
                -webkit-backdrop-filter: blur(15px);

                .parti_one {
                    display: flex;
                    flex-direction: row;
                    justify-content: space-around;
                    align-items: center;
                    width: 100%;
                    height: 18%;
                }

                .parti_two {
                    display: flex;
                    flex-direction: column;
                    justify-content: space-around;
                    align-items: center;
                    width: 100%;
                    height: 35%;
                }

                .parti_three {
                    display: flex;
                    flex-direction: row;
                    justify-content: space-around;
                    align-items: center;
                    margin-top: 15px;
                    width: 100%;
                    height: 18%;
                }

                .parti_four {
                    display: flex;
                    flex-direction: row;
                    justify-content: space-around;
                    align-items: center;
                    width: 100%;
                    height: 18%;
                }

                .button {
                    display: flex;
                    object-fit: cover;
                    background-color: transparent;
                    border: none;
                    cursor: pointer;

                    .logo_nav_bar{
                        display: flex;
                        margin: 10px;
                        height: 50px;
                        width: 50px;
                    }
                }
            }

            .Analyse {
                display: flex;
                flex-direction: row;
                justify-content: space-between;
                height: auto;
                width: 94.3%;
                margin: 5px 10px 10px 5px;

                .Stat-1 {
                    display: flex;
                    flex-direction: column;
                    justify-content: space-between;
                    width: 49.75%;
                    height: auto;

                    background: rgba(255, 255, 255, 0.3);
                    border-radius: 5px;
                    backdrop-filter: blur(3px);
                    -webkit-backdrop-filter: blur(15px);

                    .Stat-1_titre {
                        display: flex;
                        width: auto;
                        height: 25%;

                    }

                    .Stat-1_titre p {
                        display: flex;
                        flex-direction: column;
                        justify-content: space-around;
                        margin: auto;
                        padding: 25px;
                        font-size: 40px;

                        background: rgba(255, 255, 255, 0.3);
                        border-radius: 15px;
                        backdrop-filter: blur(3px);
                        -webkit-backdrop-filter: blur(15px);
                    }

                    .camenbert {
                        display: flex;
                        margin-left: auto;
                        margin-right: auto;
                        margin-bottom: 20px;
                        width: auto;
                        height: 74%;
                    }
                }

                .Stat-2 {
                    display: flex;
                    flex-direction: column;
                    justify-content: space-between;
                    width: 49.75%;
                    height: auto;

                    background: rgba(255, 255, 255, 0.3);
                    border-radius: 5px;
                    backdrop-filter: blur(3px);
                    -webkit-backdrop-filter: blur(15px);

                    .Stat-2_titre {
                        display: flex;
                        width: auto;
                        height: 25%;
                    }

                    .Stat-2_titre p {
                        display: flex;
                        flex-direction: column;
                        justify-content: space-around;
                        margin: auto;
                        padding: 30px;
                        font-size: 40px;

                        background: rgba(255, 255, 255, 0.3);
                        border-radius: 15px;
                        backdrop-filter: blur(3px);
                        -webkit-backdrop-filter: blur(15px);
                    }

                    .histogramme {
                        display: flex;
                        width: auto;
                        height: 74%;
                    }
                }
            }
        }
    }
}