body {

    .page_compte {
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        width: auto;
        height: 100vh;

        .haut_de_page {
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            padding: 50px;
            width: auto;
            height: 10%;
            align-items: center;
            margin: 10px 10px 5px 10px;

            background: rgba(255, 255, 255, 0.3);
            border-radius: 5px;
            backdrop-filter: blur(3px);
            -webkit-backdrop-filter: blur(15px);

            .titre {
                font-size: 40px;
            }

            .rechLogo {
                display: flex;
                flex-direction: row;
                justify-content: space-between;


                .logo {
                    display: flex;
                    width: 100px;
                    height: 100px;
                }
            }
        }

        .bas_de_page {
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            width: auto;
            height: 86%;

            .nav_bar_verticale {
                display: flex;
                flex-direction: column;
                justify-content: space-around;
                align-items: center;
                width: 5%;
                margin: 5px 5px 10px 10px;

                background: rgba(255, 255, 255, 0.3);
                border-radius: 5px;
                backdrop-filter: blur(3px);
                -webkit-backdrop-filter: blur(15px);

                .parti_one {
                    display: flex;
                    flex-direction: row;
                    justify-content: space-around;
                    align-items: center;
                    width: 100%;
                    height: 18%;
                }

                .parti_two {
                    display: flex;
                    flex-direction: column;
                    justify-content: space-around;
                    align-items: center;
                    width: 100%;
                    height: 35%;
                }

                .parti_three {
                    display: flex;
                    flex-direction: row;
                    justify-content: space-around;
                    align-items: center;
                    margin-top: 15px;
                    width: 100%;
                    height: 18%;
                }

                .parti_four {
                    display: flex;
                    flex-direction: row;
                    justify-content: space-around;
                    align-items: center;
                    width: 100%;
                    height: 18%;
                }

                .button {
                    display: flex;
                    object-fit: cover;
                    background-color: transparent;
                    border: none;
                    cursor: pointer;

                    .logo_nav_bar {
                        display: flex;
                        margin: 10px;
                        height: 50px;
                        width: 50px;
                    }
                }
            }


            .Compte {
                display: flex;
                flex-direction: column;
                justify-content: space-evenly;
                width: 94.3%;
                height: auto;
                margin: 5px 10px 10px 5px;

                background: rgba(255, 255, 255, 0.3);
                border-radius: 5px;
                backdrop-filter: blur(3px);
                -webkit-backdrop-filter: blur(15px);

                .name_picture {
                    display: flex;
                    flex-direction: column;
                    justify-content: space-evenly;
                    margin: 13px;
                    width: auto;
                    height: 30%;

                    background: rgba(255, 255, 255, 0.1);
                    border-radius: 5px;
                    backdrop-filter: blur(3px);
                    -webkit-backdrop-filter: blur(15px);

                    .picture {
                        display: flex;
                        flex-direction: row;
                        justify-content: left;
                        margin-right: 25px;
                        margin-left: 25px;
                        border-bottom: 1px solid grey;

                        #display_image {
                            display: flex;
                            margin-bottom: 5px;
                            height: 135px;
                            width: 135px;
                            background: rgba(255, 255, 255, 0.1);
                            border-radius: 100px;
                            backdrop-filter: blur(3px);
                            -webkit-backdrop-filter: blur(15px);

                            .img {
                                border-radius: 100px;
                                object-fit: cover;
                            }
                        }

                        .figure {
                            width: 45%;
                        }

                        .img {
                            width: 100%;
                        }


                        .bouton_submit {
                            display: flex;
                            margin-left: 30px;
                            align-items: center;
                            cursor: pointer;



                            .fileUpload {
                                color: #3874ff;
                                border-color: #3874ff;
                                background-color: transparent;
                                border: 1px solid #004dff;
                                border-radius: .375rem;
                                gap: 1rem;
                                font-size: 1rem;
                                line-height: 1.5;
                                transition: color .15s ease-in-out, background-color .15s ease-in-out, border-color .15s ease-in-out, box-shadow .15s ease-in-out;

                                &:hover {
                                    color: #fff;
                                    background-color: #3874ff;
                                    border-color: #004dff;
                                }

                                &:focus {
                                    color: #fff;
                                    background-color: #3874ff;
                                    border-color: #004dff;
                                    box-shadow: 0 0 0 0.2rem rgba(56, 116, 255, 0.5);
                                }

                                &:active {
                                    color: #fff;
                                    background-color: #3874ff;
                                    border-color: #004dff;
                                    box-shadow: inset 0 3px 5px rgba(0, 0, 0, 0);
                                }

                                &:disabled {
                                    color: #3874ff;
                                    background-color: transparent;
                                    border-color: #3874ff;
                                }
                            }
                        }
                    }

                    .name {
                        display: flex;
                        flex-direction: row;
                        justify-content: space-between;
                        margin: 0 25px;

                        .presentationNom {
                            display: flex;
                            flex-direction: row;
                            justify-content: space-evenly;

                            .def {
                                display: flex;
                                font-weight: bold;
                            }

                            .nom {
                                display: flex;
                                margin-left: 125px;
                                ;
                            }
                        }

                        .bouton_submit {
                            display: flex;

                            .bouton_modifierNom {
                                cursor: pointer;
                                color: #141824;
                                background: #f5f7fa;
                                border-color: #f5f7fa;
                                border-radius: 0.375rem;
                                padding: 0.5rem 1rem;
                                border-width: 1px;

                                &:hover {
                                    color: #141824;
                                    background: #e3e6ed;
                                    border-color: #f6f8fb;
                                }

                                &:focus {
                                    box-shadow: 0 0 0 0.2rem rgba(211, 214, 218, 0.5);
                                }

                                &:active {
                                    color: #000000;
                                    background: #f7f9fb;
                                    border-color: #f6f8fb;
                                    box-shadow: inset 0 3px 5px rgba(0, 0, 0, 0);
                                }

                                &:disabled {
                                    color: #000000;
                                    background: #f5f7fa;
                                    border-color: #f5f7fa;
                                }
                            }
                        }
                    }
                }


                .infoPerso {
                    display: flex;
                    flex-direction: column;
                    justify-content: space-evenly;
                    margin-left: 13px;
                    margin-right: 13px;
                    width: auto;
                    height: 30%;

                    background: rgba(255, 255, 255, 0.1);
                    border-radius: 5px;
                    backdrop-filter: blur(3px);
                    -webkit-backdrop-filter: blur(15px);

                    .description {
                        display: flex;
                        margin: 0 25px;
                        border-bottom: 1px solid grey;
                        padding: 0 0 10px 0;
                        font-weight: bold;
                    }

                    .parti_mail {
                        display: flex;
                        flex-direction: row;
                        margin: 0 25px;
                        border-bottom: 1px solid grey;
                        padding: 0 0 15px 0;

                        .def {
                            display: flex;
                            font-weight: bold;
                        }

                        .mail {
                            display: flex;
                            margin-left: 199px;
                        }
                    }

                    .parti_pays {
                        display: flex;
                        flex-direction: row;
                        margin: 0 25px;
                        border-bottom: 1px solid grey;
                        padding: 0 0 15px 0;

                        .def {
                            display: flex;
                            font-weight: bold;
                        }

                        .pays_region {
                            display: flex;
                            margin-left: 110px;
                        }
                    }

                    .parti_tel {
                        display: flex;
                        flex-direction: row;
                        margin: 0 25px;

                        .def {
                            display: flex;
                            font-weight: bold;
                        }

                        .tel {
                            display: flex;
                            margin-left: 207px;
                        }
                    }
                }

                .infoEntreprise {
                    display: flex;
                    flex-direction: column;
                    justify-content: space-evenly;
                    margin: 13px;
                    width: auto;
                    height: 30%;

                    background: rgba(255, 255, 255, 0.1);
                    border-radius: 5px;
                    backdrop-filter: blur(3px);
                    -webkit-backdrop-filter: blur(15px);

                    .description {
                        display: flex;
                        margin: 0 25px;
                        border-bottom: 1px solid grey;
                        padding: 0 0 10px 0;
                        font-weight: bold;
                    }

                    .parti_name {
                        display: flex;
                        flex-direction: row;
                        margin: 0 25px;
                        border-bottom: 1px solid grey;
                        padding: 0 0 15px 0;

                        .def {
                            display: flex;
                            font-weight: bold;
                        }

                        .name {
                            display: flex;
                            margin-left: 92px;
                        }
                    }

                    .parti_secteurAct {
                        display: flex;
                        flex-direction: row;
                        margin: 0 25px;
                        border-bottom: 1px solid grey;
                        padding: 0 0 15px 0;

                        .def {
                            display: flex;
                            font-weight: bold;
                        }

                        .secteurAct {
                            display: flex;
                            margin-left: 98px;
                        }
                    }

                    .parti_nbClient {
                        display: flex;
                        flex-direction: row;
                        margin: 0 25px;

                        .def {
                            display: flex;
                            font-weight: bold;
                        }

                        .nbClient {
                            display: flex;
                            margin-left: 115px;
                        }
                    }
                }
            }
        }
    }
}

#input[type="file"] {
    display: none;
}

.fileUpload {
    width: 100%;
    margin-top: 1rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: auto;
    width: 150px;
    height: 50px;
    color: white;
    border-radius: 10px;
    background-color: $xiketic;
    cursor: pointer;
}