body {
    background-image: url("../../../public/fond_page_connexion.png");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
    background-size: cover;

    .page_compte {
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        width: auto;
        height: 100vh;
    
        .haut_de_page {
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            padding: 50px;
            width: auto;
            height: 10%;
            align-items: center;
            margin: 10px 10px 5px 10px;
            
            background: rgba(255, 255, 255, 0.3);
            border-radius: 15px;
            box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
            backdrop-filter: blur(3px);
            -webkit-backdrop-filter: blur(15px);

            .titre {
                font-size: 40px;
            }
            
            .rechLogo {
                display: flex;
                flex-direction: row;
                justify-content: space-between;

                .input_box {
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    position: relative;
                    height: 40px;
                    max-width: 350px;
                    width: 100%;
                    margin: 30px 30px;
                    border-radius: 25px;
                    box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);

                    input {
                        position: relative;
                        width: 100%;
                        height: 100%;
                        padding: 0 15px 0 65px;
                        outline: none;
                        border: none;
                        border-radius: 25px;
                        font-size: 16px;
                        font-weight: 400;
                        color: #333;
                    }

                    .search {
                        display: flex;
                        align-items: center;
                        justify-content: center;
                        position: absolute;
                        left: 0;
                        top: 0;
                        height: 100%;
                        width: 60px;
                        border-radius: 25px 0 0 25px;

                        .search-icon {
                            font-size: 30px;
                            color: black;
                        }
                    }
                }

                .logo {
                    display: flex;
                    width: 100px;
                    height: 100px;
                }
            }            
        }
    
        .bas_de_page {
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            width: auto;
            height: 86%;
    
            .nav_bar_verticale {
                display: flex;
                flex-direction: column;
                justify-content: space-around;
                align-items: center;
                width: 5%;
                margin: 5px 5px 10px 10px;

                background: rgba(255, 255, 255, 0.3);
                border-radius: 15px;
                box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
                backdrop-filter: blur(3px);
                -webkit-backdrop-filter: blur(15px);

                .button {
                    display: flex;
                    object-fit: cover;
                    background-color: transparent;
                    border: none;
                    cursor: pointer;

                    .logo_nav_bar{
                        display: flex;
                        margin: 10px;
                        height: 50px;
                        width: 50px;
                    }
                }
            }
            
    
            .Compte {
                display: flex;
                flex-direction: column;
                justify-content: space-evenly;
                width: 94.3%;
                height: auto;
                margin: 5px 10px 10px 5px;

                background: rgba(255, 255, 255, 0.3);
                border-radius: 15px;
                box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
                backdrop-filter: blur(3px);
                -webkit-backdrop-filter: blur(15px);

                .name_picture {
                    display: flex;
                    flex-direction: column;
                    justify-content: space-evenly;
                    margin: 13px;
                    width: auto;
                    height: 30%;

                    background: rgba(255, 255, 255, 0.1);
                    border-radius: 15px;
                    box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
                    backdrop-filter: blur(3px);
                    -webkit-backdrop-filter: blur(15px);

                    .picture {
                        display: flex;
                        flex-direction: row;
                        justify-content: left;
                        margin-right: 25px;
                        margin-left: 25px;
                        border-bottom: 1px solid grey;

                        #display_image {
                            display: flex;
                            margin-bottom: 5px;
                            height: 135px;
                            width: 135px;
                            background: rgba(255, 255, 255, 0.1);
                            border-radius: 15px;
                            box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
                            backdrop-filter: blur(3px);
                            -webkit-backdrop-filter: blur(15px);
                        }
                        
                        .figure{
                            width: 45%;
                        }
        
                        .img{
                            width: 100%;
                        }
                        

                        .bouton_submit {
                            display: flex;
                            margin-left: 30px;
                            align-items: center;
                            cursor: pointer;

                            .bouton_ajoutPhoto {
                                height: 40px;
                                width: 150px;
                                background-color: rgb(190, 189, 189);
                                border-radius: 5px;
                                box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
                                cursor: pointer;
                    
                                &:hover{
                                    background-color: lightgrey;   
                                }
                            }
                        }
                    }

                    .name {
                        display: flex;
                        flex-direction: row;
                        justify-content: space-between;
                        margin: 0 25px;

                        .presentationNom {
                            display: flex;
                            flex-direction: row;
                            justify-content: space-evenly;                         

                            .def {
                                display: flex;
                                font-weight: bold;
                            }

                            .nom {
                                display: flex;
                                margin-left: 125px;;
                            }
                        }

                        .bouton_submit {
                            display: flex;
                            
                            .bouton_modifierNom {
                                width: 75px;
                                height: 20px;
                                background-color: rgb(190, 189, 189);
                                border-radius: 5px;
                                border-radius: 5px;
                                box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
                                cursor: pointer;
    
                                &:hover{
                                    background-color: lightgrey; 
                                }
                            }
                        }
                    }
                }


                .infoPerso {
                    display: flex;
                    flex-direction: column;
                    justify-content: space-evenly;
                    margin-left: 13px;
                    margin-right: 13px;
                    width: auto;
                    height: 30%;

                    background: rgba(255, 255, 255, 0.1);
                    border-radius: 15px;
                    box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
                    backdrop-filter: blur(3px);
                    -webkit-backdrop-filter: blur(15px);

                    .description {
                        display: flex;
                        margin: 0 25px;
                        border-bottom: 1px solid grey;
                        padding: 0 0 10px 0;
                        font-weight: bold;
                    }

                    .parti_mail {
                        display: flex;
                        flex-direction: row;
                        margin: 0 25px;                        
                        border-bottom: 1px solid grey;
                        padding: 0 0 15px 0;

                        .def {
                            display: flex;
                            font-weight: bold;
                        }

                        .mail {
                            display: flex;
                            margin-left: 199px;
                        }
                    }

                    .parti_pays {
                        display: flex;
                        flex-direction: row;
                        margin: 0 25px;                        
                        border-bottom: 1px solid grey;
                        padding: 0 0 15px 0;

                        .def {
                            display: flex;
                            font-weight: bold;
                        }

                        .pays_region {
                            display: flex;
                            margin-left: 110px;
                        }
                    }

                    .parti_tel {
                        display: flex;
                        flex-direction: row;
                        margin: 0 25px;

                        .def {
                            display: flex;
                            font-weight: bold;
                        }

                        .tel {
                            display: flex;
                            margin-left: 207px;
                        }
                    }
                }

                .infoEntreprise {
                    display: flex;
                    flex-direction: column;
                    justify-content: space-evenly;    
                    margin: 13px;
                    width: auto;
                    height: 30%;

                    background: rgba(255, 255, 255, 0.1);
                    border-radius: 15px;
                    box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
                    backdrop-filter: blur(3px);
                    -webkit-backdrop-filter: blur(15px);

                    .description {
                        display: flex;
                        margin: 0 25px;
                        border-bottom: 1px solid grey;
                        padding: 0 0 10px 0;
                        font-weight: bold;
                    }

                    .parti_name {
                        display: flex;
                        flex-direction: row;
                        margin: 0 25px;                        
                        border-bottom: 1px solid grey;
                        padding: 0 0 15px 0;

                        .def {
                            display: flex;
                            font-weight: bold;
                        }

                        .name {
                            display: flex;
                            margin-left: 92px;
                        }
                    }

                    .parti_secteurAct{
                        display: flex;
                        flex-direction: row;
                        margin: 0 25px;                        
                        border-bottom: 1px solid grey;
                        padding: 0 0 15px 0;

                        .def {
                            display: flex;
                            font-weight: bold;
                        }

                        .secteurAct {
                            display: flex;
                            margin-left: 98px;
                        }
                    }

                    .parti_nbClient {
                        display: flex;
                        flex-direction: row;
                        margin: 0 25px;

                        .def {
                            display: flex;
                            font-weight: bold;
                        }

                        .nbClient {
                            display: flex;
                            margin-left: 115px;
                        }
                    }
                }
            }
        }
    }
}
