body {
    background-image: url("../../../public/fond_page_connexion.png");

    .page_dashboard {
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        width: auto;
        height: 100vh;
    
        .haut_de_page {
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            padding: 50px;
            width: auto;
            height: 10%;
            align-items: center;
            margin: 10px 10px 5px 10px;
            
            background: rgba(255, 255, 255, 0.3);
            border-radius: 15px;
            box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
            backdrop-filter: blur(3px);
            -webkit-backdrop-filter: blur(15px);

            .titre {
                font-size: 40px;
            }
            
            .rechLogo {
                display: flex;
                flex-direction: row;
                justify-content: space-between;

                .input_box {
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    position: relative;
                    height: 40px;
                    max-width: 350px;
                    width: 100%;
                    margin: 30px 30px;
                    border-radius: 25px;
                    box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);

                    input {
                        position: relative;
                        width: 100%;
                        height: 100%;
                        padding: 0 15px 0 65px;
                        outline: none;
                        border: none;
                        border-radius: 25px;
                        font-size: 16px;
                        font-weight: 400;
                        color: #333;
                    }

                    .search {
                        display: flex;
                        align-items: center;
                        justify-content: center;
                        position: absolute;
                        left: 0;
                        top: 0;
                        height: 100%;
                        width: 60px;
                        border-radius: 25px 0 0 25px;

                        .search-icon {
                            font-size: 30px;
                            color: black;
                        }
                    }
                }

                .logo {
                    display: flex;
                    width: 100px;
                    height: 100px;
                }
            }            
        }
    
        .bas_de_page {
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            width: auto;
            height: 86%;

            .nav_bar_verticale {
                display: flex;
                flex-direction: column;
                justify-content: space-around;
                align-items: center;
                width: 5%;
                margin: 5px 5px 10px 10px;

                background: rgba(255, 255, 255, 0.3);
                border-radius: 15px;
                box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
                backdrop-filter: blur(3px);
                -webkit-backdrop-filter: blur(15px);

                .button {
                    display: flex;
                    object-fit: cover;
                    background-color: transparent;
                    border: none;
                    cursor: pointer;

                    .logo_nav_bar{
                        display: flex;
                        margin: 10px;
                        height: 50px;
                        width: 50px;
                    }
                }
            }

            .Dashboard {
                display: flex;
                flex-direction: row;
                justify-content: space-between;
                width: 93%;
                height: auto;
                margin: 5px 10px 10px 5px;

                ._gauche {
                    display: flex;
                    flex-direction: column;
                    justify-content: space-between;
                    width: 76%;

                    ._haut {
                        display: flex;
                        flex-direction: row;
                        justify-content: space-between;
                        width: auto;
                        height: 40%;

                        .Mes_infos {
                            display: flex;
                            width: 40%;
                            height: auto;
                            
                            background: rgba(255, 255, 255, 0.3);
                            border-radius: 15px;
                            box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
                            backdrop-filter: blur(3px);
                            -webkit-backdrop-filter: blur(15px);
                        }

                        .Alertes {
                            display: flex;
                            width: 58.5%;
                            height: auto;

                            background: rgba(255, 255, 255, 0.3);
                            border-radius: 15px;
                            box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
                            backdrop-filter: blur(3px);
                            -webkit-backdrop-filter: blur(15px);
                        }
                    }

                    ._bas {
                        display: flex;
                        flex-direction: row;
                        justify-content: space-between;
                        width: auto;
                        height: 58%;

                        .Mes_prochaines_activités {
                            display: flex;
                            width: 45%;
                            height: auto;

                            background: rgba(255, 255, 255, 0.3);
                            border-radius: 15px;
                            box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
                            backdrop-filter: blur(3px);
                            -webkit-backdrop-filter: blur(15px);
                        }

                        .Chiffre_clés {
                            display: flex;
                            flex-direction: row;
                            justify-content: space-between;
                            width: 53%;
                            height: auto;

                            .Ch_Clé_gauche {
                                display: flex;
                                flex-direction: column;
                                justify-content: space-between;
                                width: 45%;
                                height: auto;

                                .Ch_Clé_gauche_haut {
                                    display: flex;
                                    width: auto;
                                    height: 53%;

                                    background: rgba(255, 255, 255, 0.3);
                                    border-radius: 15px;
                                    box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
                                    backdrop-filter: blur(3px);
                                    -webkit-backdrop-filter: blur(15px);                                    
                                }

                                .Ch_Clé_gauche_bas {
                                    display: flex;
                                    width: auto;
                                    height: 42%;

                                    background: rgba(255, 255, 255, 0.3);
                                    border-radius: 15px;
                                    box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
                                    backdrop-filter: blur(3px);
                                    -webkit-backdrop-filter: blur(15px);
                                }
                            }

                            .Ch_Clé_droite {
                                display: flex;
                                flex-direction: column;
                                justify-content: space-between;
                                width: 51%;
                                height: auto;

                                .Ch_Clé_droite_haut {
                                    display: flex;
                                    width: auto;
                                    height: 46%;

                                    background: rgba(255, 255, 255, 0.3);
                                    border-radius: 15px;
                                    box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
                                    backdrop-filter: blur(3px);
                                    -webkit-backdrop-filter: blur(15px);                                    
                                }

                                .Ch_Clé_droite_bas {
                                    display: flex;
                                    width: auto;
                                    height: 49%;

                                    background: rgba(255, 255, 255, 0.3);
                                    border-radius: 15px;
                                    box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
                                    backdrop-filter: blur(3px);
                                    -webkit-backdrop-filter: blur(15px);
                                }
                            }
                        }
                    }
                }

                ._droite {
                    display: flex;
                    flex-direction: column;
                    justify-content: space-between;
                    width: 23%;

                    .clients_important {
                        display: flex;
                        width: auto;
                        height: 64%;
                        
                        background: rgba(255, 255, 255, 0.3);
                        border-radius: 15px;
                        box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
                        backdrop-filter: blur(3px);
                        -webkit-backdrop-filter: blur(15px);
                    }

                    .contacts_ajouté_récemment {
                        display: flex;
                        width: auto;
                        height: 34%;
                        
                        background: rgba(255, 255, 255, 0.3);
                        border-radius: 15px;
                        box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
                        backdrop-filter: blur(3px);
                        -webkit-backdrop-filter: blur(15px);
                    }
                }
            }
        }
    }
}
