body {
    background-color: $alice-blue;
    color: black;

    .page_parametre {
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        width: auto;
        height: 100vh;
    
        .haut_de_page {
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            padding: 50px;
            width: auto;
            height: 10%;
            align-items: center;
            margin: 10px 10px 5px 10px;
            
            background: rgba(255, 255, 255, 0.3);
            border-radius: 15px;
            box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.25);
            backdrop-filter: blur(3px);
            -webkit-backdrop-filter: blur(15px);

            .titre {
                font-size: 40px;
            }
            
            .rechLogo {
                display: flex;
                flex-direction: row;
                justify-content: space-between;


                .logo {
                    display: flex;
                    width: 100px;
                    height: 100px;
                }
            }            
        }
    
        .bas_de_page {
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            width: auto;
            height: 86%;
    
            .nav_bar_verticale {
                display: flex;
                flex-direction: column;
                justify-content: space-around;
                align-items: center;
                width: 5%;
                margin: 5px 5px 10px 10px;

                background: rgba(255, 255, 255, 0.3);
                border-radius: 15px;
                box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.25);
                backdrop-filter: blur(3px);
                -webkit-backdrop-filter: blur(15px);

                .parti_one {
                    display: flex;
                    flex-direction: row;
                    justify-content: space-around;
                    align-items: center;
                    width: 100%;
                    height: 18%;
                }

                .parti_two {
                    display: flex;
                    flex-direction: column;
                    justify-content: space-around;
                    align-items: center;
                    width: 100%;
                    height: 35%;
                }

                .parti_three {
                    display: flex;
                    flex-direction: row;
                    justify-content: space-around;
                    align-items: center;
                    margin-top: 15px;
                    width: 100%;
                    height: 18%;
                }

                .parti_four {
                    display: flex;
                    flex-direction: row;
                    justify-content: space-around;
                    align-items: center;
                    width: 100%;
                    height: 18%;
                }

                .button {
                    display: flex;
                    object-fit: cover;
                    background-color: transparent;
                    border: none;
                    cursor: pointer;

                    .logo_nav_bar{
                        display: flex;
                        margin: 10px;
                        height: 50px;
                        width: 50px;
                    }
                }
            }
    
            .Parametre {
                display: flex;
                flex-direction: column;
                justify-content: space-between;
                width: 94.3%;
                height: auto;
                margin: 5px 10px 10px 5px;

                .one {
                    display: flex;
                    flex-direction: column;
                    justify-content: space-evenly;
                    width: auto;
                    height: 28.5%;
                    padding: 10px;

                    background: rgba(255, 255, 255, 0.3);
                    border-radius: 15px;
                    box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.25);
                    backdrop-filter: blur(3px);
                    -webkit-backdrop-filter: blur(15px);

                    .one_haut {
                        display: flex;
                        flex-direction: row;
                        justify-content: space-between;
                        height: 50%;
                        border-bottom: 1px solid black;
                    }

                    .one_milieu {
                        display: flex;
                        flex-direction: row;
                        justify-content: space-between;
                        padding: 9px;
                        height: 25%;
                        border-bottom: 1px solid black;

                        .text_one_milieu {
                            margin-top: 8px;
                        }

                        .bouton_submit {
                            display: flex;
                            margin-left: 30px;
                            align-items: center;
                            cursor: pointer;

                            .bouton_signalerPB {
                                width: 75px;
                                height: 20px;
                                background-color: rgb(190, 189, 189);
                                border-radius: 5px;
                                border-radius: 5px;
                                box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.25);
                                cursor: pointer;
    
                                &:hover{
                                    background-color: lightgrey; 
                                }
                            }
                        }
                    }

                    .one_bas {
                        display: flex;
                        flex-direction: row;
                        justify-content: space-between;
                        padding: 9px;
                        height: 25%;

                        .text_one_milieu {
                            margin-top: 8px;
                        }

                        .bouton_submit {
                            display: flex;
                            margin-left: 30px;
                            align-items: center;
                            text-decoration: none;
                            cursor: pointer;

                            .bouton_modifierMDP {
                                width: 75px;
                                height: 20px;
                                background-color: rgb(190, 189, 189);
                                border-radius: 5px;
                                border-radius: 5px;
                                box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.25);
                                cursor: pointer;
    
                                &:hover{
                                    background-color: lightgrey; 
                                }
                            }
                        }
                    }
                }

                .two {
                    display: flex;
                    flex-direction: column;
                    justify-content: space-between;
                    width: auto;
                    height: 28.5%;
                    padding: 10px;

                    background: rgba(255, 255, 255, 0.3);
                    border-radius: 15px;
                    box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.25);
                    backdrop-filter: blur(3px);
                    -webkit-backdrop-filter: blur(15px);

                    .two_haut {
                        display: flex;
                        height: 75%;
                        
                        border-bottom: 1px solid black;
                    }

                    .two_bas {
                        display: flex;
                        flex-direction: row;
                        padding: 9px;
                        height: 25%;

                        .center {
                            position: absolute;
                            top: 84%;
                            right: 0.5%;
                            transform: translate(-50%,-50%);

                            input[type="checkbox"] {
                                position: relative;
                                width: 50px;
                                height: 25px;
                                -webkit-appearance: none;
                                background-color: #e2e2e2;
                                outline: none;
                                border-radius: 20px;
                                box-shadow: inset 0 0 5px rgba(0,0,0,.5);
                                transition: .5s;
                                cursor: pointer;
                            }

                            input:checked[type="checkbox"] {
                                background-color: rgb(51, 75, 172);
                            }

                            input[type="checkbox"]:before {
                                content: '';
                                position: absolute;
                                width: 18px;
                                height: 18px;
                                border-radius: 20px;
                                top: 2.75pt;
                                left: 10%;
                                background-color: white;
                                transform: scale(1.1);
                                box-shadow: 0 2px 5px rgba(0,0,0,.2);
                                transition: .5s;
                            }

                            input:checked[type="checkbox"]:before {
                                top: 2.75pt;
                                left: 27px;
                            }
                        }
                    }
                }

                .three {
                    display: flex;
                    flex-direction: column;
                    width: auto;
                    height: 40%;

                    background: rgba(255, 255, 255, 0.3);
                    border-radius: 15px;
                    box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.25);
                    backdrop-filter: blur(3px);
                    -webkit-backdrop-filter: blur(15px);

                    .text_three_haut {
                        display: flex;
                        margin: 10px;
                    }

                    .déconnexion {
                        display: flex;
                        flex-direction: row;
                        justify-content: space-between;
                        margin-left: 10px;
                        margin-right: 10px;
                        padding: 10px;
                        
                        border-top: 1px solid black;

                        .text_three {
                            display: flex;
                        }

                        .bouton {
                            width: 100px;
                            height: 20px;
                            background-color: rgb(190, 189, 189);
                            border-radius: 5px;
                            border-radius: 5px;
                            box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.25);
                            cursor: pointer;

                            &:hover{
                                background-color: lightgrey; 
                            }
                        }
                    }
                }
            }
        }
    }
}
