$font-1: sans-serif;

$color-1: #61dafb;
$color-2: salmon;
$color-3: #282c34;
$white: rgb(243, 243, 243);

/* SCSS HEX */
$alice-blue: #e8eef2ff;
$blue-munsell: #0088a3ff;
$malachite: #32e875ff;
$rufous: #9b2915ff;
$xiketic: #0f111a;
$beau-blue: #b1c5d2;



/* SCSS Gradient */
$gradient-top: linear-gradient(0deg, #e8eef2ff, #0088a3ff, #32e875ff, #9b2915ff, #020114ff);
$gradient-right: linear-gradient(90deg, #e8eef2ff, #0088a3ff, #32e875ff, #9b2915ff, #020114ff);
$gradient-bottom: linear-gradient(180deg, #e8eef2ff, #0088a3ff, #32e875ff, #9b2915ff, #020114ff);
$gradient-left: linear-gradient(270deg, #e8eef2ff, #0088a3ff, #32e875ff, #9b2915ff, #020114ff);
$gradient-top-right: linear-gradient(45deg, #e8eef2ff, #0088a3ff, #32e875ff, #9b2915ff, #020114ff);
$gradient-bottom-right: linear-gradient(135deg, #e8eef2ff, #0088a3ff, #32e875ff, #9b2915ff, #020114ff);
$gradient-top-left: linear-gradient(225deg, #e8eef2ff, #0088a3ff, #32e875ff, #9b2915ff, #020114ff);
$gradient-bottom-left: linear-gradient(315deg, #e8eef2ff, #0088a3ff, #32e875ff, #9b2915ff, #020114ff);
$gradient-radial: radial-gradient(#e8eef2ff, #0088a3ff, #32e875ff, #9b2915ff, #020114ff);

@mixin verticalCenter {
    display: flex;
    justify-content: center;
    align-items: center;
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    background: $white;
    font-family: $font-1;
    // @include verticalCenter;
}

li {
    list-style-type: none;
}

.dark {
    background-color: $xiketic;
    color: rgb(159, 166, 188);

    .page_analyse {
        .haut_de_page {
            background: rgba(21, 24, 35, 1);
            border: 1px solid rgba(50, 55, 72, 1);
            .titre {
                color: rgb(159, 166, 188);
            }
        }

        .bas_de_page {
            .nav_bar_verticale {
                background: rgba(21, 24, 35, 1);
                border: 1px solid rgba(50, 55, 72, 1);
                .svgImage {
                    fill: rgb(159, 166, 188);
                }
            }

            .Analyse {
                .Stat-1 {
                    background: rgba(21, 24, 35, 1);
                    border: 1px solid rgba(50, 55, 72, 1);

                    .Stat-1_titre p {
                        background-color: rgba(21, 24, 35, 1);
                        border: 1px solid rgba(50, 55, 72, 1);
                        color: rgb(159, 166, 188);
                    }
                    canvas {
                        color: rgb(159, 166, 188);
                    }
                }

                .Stat-2 {
                    background: rgba(21, 24, 35, 1);
                    border: 1px solid rgba(50, 55, 72, 1);

                    .Stat-2_titre p {
                        background-color: rgba(21, 24, 35, 1);
                        border: 1px solid rgba(50, 55, 72, 1);
                        color: rgb(159, 166, 188);
                    }
                }
            }
        }

    }

    .page_parametre {
        .haut_de_page {
            background: rgba(21, 24, 35, 1);
            border: 1px solid rgba(50, 55, 72, 1);
            .titre{
                color: rgb(159, 166, 188);
            }
        }

        .bas_de_page {
            .nav_bar_verticale {
                background: rgba(21, 24, 35, 1);
                border: 1px solid rgba(50, 55, 72, 1);
                .svgImage {
                    fill: rgb(159, 166, 188);
                }
            }

            .Parametre {
                .one {
                    background: rgba(21, 24, 35, 1);
                    border: 1px solid rgba(50, 55, 72, 1);
                    color: rgb(159, 166, 188);
                    .one_haut {
                        border-color: rgba(50, 55, 72, 1);
                    }
                    .one_milieu{
                        border-color: rgba(50, 55, 72, 1);
                        .bouton_submit{
                            .bouton_signalerPB{
                                color: #cbd0dd;
                                background: rgba(49, 55, 74, 0.5);
                                border-color: rgba(49, 55, 74, 0.5);

                                &:hover {
                                    color: #cbd0dd;
                                    background: rgba(49, 55, 74, 0.8);
                                    border-color: rgba(101, 105, 119, 0.55);
                                }

                                &:focus {
                                    box-shadow: 0 0 0 0.2rem rgba(102, 108, 125, 0.5);
                                }

                                &:active {
                                    color: #fff;
                                    background: rgba(137, 141, 152, 0.6);
                                    border-color: rgba(101, 105, 119, 0.55);
                                    box-shadow: inset 0 3px 5px rgba(0, 0, 0, 0);
                                }

                                &:disabled {
                                    color: #fff;
                                    background: rgba(49, 55, 74, 0.5);
                                }
                            }
                        }
                    }

                    .one_bas {
                        .bouton_submit {
                            .bouton_modifierMDP {
                                color: #cbd0dd;
                                background: rgba(49, 55, 74, 0.5);
                                border-color: rgba(49, 55, 74, 0.5);

                                &:hover {
                                    color: #cbd0dd;
                                    background: rgba(49, 55, 74, 0.8);
                                    border-color: rgba(101, 105, 119, 0.55);
                                }

                                &:focus {
                                    box-shadow: 0 0 0 0.2rem rgba(102, 108, 125, 0.5);
                                }

                                &:active {
                                    color: #fff;
                                    background: rgba(137, 141, 152, 0.6);
                                    border-color: rgba(101, 105, 119, 0.55);
                                    box-shadow: inset 0 3px 5px rgba(0, 0, 0, 0);
                                }

                                &:disabled {
                                    color: #fff;
                                    background: rgba(49, 55, 74, 0.5);
                                }
                            }
                        }
                    }
                }

                .two {
                    background: rgba(21, 24, 35, 1);
                    border: 1px solid rgba(50, 55, 72, 1);
                    color: rgb(159, 166, 188);
                    .two_haut {
                        border-color: rgba(50, 55, 72, 1);
                    }
                }

                .three {
                    background: rgba(21, 24, 35, 1);
                    border: 1px solid rgba(50, 55, 72, 1);
                    color: rgb(159, 166, 188);
                    .déconnexion{
                        border-color: rgba(50, 55, 72, 1);
                        .bouton{
                            color: #cbd0dd;
                                background: rgba(49, 55, 74, 0.5);
                                border-color: rgba(49, 55, 74, 0.5);

                                &:hover {
                                    color: #cbd0dd;
                                    background: rgba(49, 55, 74, 0.8);
                                    border-color: rgba(101, 105, 119, 0.55);
                                }

                                &:focus {
                                    box-shadow: 0 0 0 0.2rem rgba(102, 108, 125, 0.5);
                                }

                                &:active {
                                    color: #fff;
                                    background: rgba(137, 141, 152, 0.6);
                                    border-color: rgba(101, 105, 119, 0.55);
                                    box-shadow: inset 0 3px 5px rgba(0, 0, 0, 0);
                                }

                                &:disabled {
                                    color: #fff;
                                    background: rgba(49, 55, 74, 0.5);
                                }
                        }
                    }
                }
            }
        }
    }

    .page_compte {
        .haut_de_page {
            background: rgba(21, 24, 35, 1);
            border: 1px solid rgba(50, 55, 72, 1);
            .titre{
                color: rgb(159, 166, 188);
            }
        }

        .bas_de_page {
            .nav_bar_verticale {
                background: rgba(21, 24, 35, 1);
                border: 1px solid rgba(50, 55, 72, 1);
                .svgImage {
                    fill: rgb(159, 166, 188);
                }
            }

            .Compte {
                background: rgba(21, 24, 35, 1);
                border: 1px solid rgba(50, 55, 72, 1);

                .name_picture {
                    background: rgba(21, 24, 35, 1);
                    border: 1px solid rgba(50, 55, 72, 1);
                    color: rgb(159, 166, 188);

                    .picture {
                        border-color: rgba(50, 55, 72, 1);
                        #display_image {
                            border: 1px solid rgba(50, 55, 72, 1);
                        }
                    }
                    .name{
                        .bouton_submit{
                            .bouton_modifierNom{
                                color: #cbd0dd;
                                background: rgba(49, 55, 74, 0.5);
                                border-color: rgba(49, 55, 74, 0.5);

                                &:hover {
                                    color: #cbd0dd;
                                    background: rgba(49, 55, 74, 0.8);
                                    border-color: rgba(101, 105, 119, 0.55);
                                }

                                &:focus {
                                    box-shadow: 0 0 0 0.2rem rgba(102, 108, 125, 0.5);
                                }

                                &:active {
                                    color: #fff;
                                    background: rgba(137, 141, 152, 0.6);
                                    border-color: rgba(101, 105, 119, 0.55);
                                    box-shadow: inset 0 3px 5px rgba(0, 0, 0, 0);
                                }

                                &:disabled {
                                    color: #fff;
                                    background: rgba(49, 55, 74, 0.5);
                                }
                            }
                        }
                    }
                }

                .infoPerso {
                    background: rgba(21, 24, 35, 1);
                    border: 1px solid rgba(50, 55, 72, 1);
                    color: rgb(159, 166, 188);
                    .description, .parti_pays,.parti_mail { 
                        border-color: rgba(50, 55, 72, 1);
                    }
                }

                .infoEntreprise {
                    background: rgba(21, 24, 35, 1);
                    border: 1px solid rgba(50, 55, 72, 1);
                    color: rgb(159, 166, 188);
                    .description, .parti_name,.parti_secteurAct { 
                        border-color: rgba(50, 55, 72, 1);
                    }
                }
            }
        }

    }

    .page_repertoire {
        .haut_de_page {
            background: rgba(21, 24, 35, 1);
            border: 1px solid rgba(50, 55, 72, 1);
            .titre{
                color: rgb(159, 166, 188);
            }
        }

        .bas_de_page {
            .nav_bar_verticale {
                background: rgba(21, 24, 35, 1);
                border: 1px solid rgba(50, 55, 72, 1);
                .svgImage {
                    fill: rgb(159, 166, 188);
                }
            }

        }

        .contenu {
            .searchAndAddButton {
                .boutonAddContact {
                    color: #3874ff;
                    border-color: #3874ff;
                    background-color: transparent;
                    border-radius: .375rem;
                    padding: .375rem .75rem;
                    gap: 1rem;
                    font-size: 1rem;
                    line-height: 1.5;
                    transition: color .15s ease-in-out, background-color .15s ease-in-out, border-color .15s ease-in-out, box-shadow .15s ease-in-out;

                    &:hover {
                        color: #fff;
                        background-color: #3874ff;
                        border-color: #004dff;
                    }

                    &:focus {
                        color: #fff;
                        background-color: #3874ff;
                        border-color: #004dff;
                        box-shadow: 0 0 0 0.2rem rgba(56, 116, 255, 0.5);
                    }

                    &:active {
                        color: #fff;
                        background-color: #3874ff;
                        border-color: #004dff;
                        box-shadow: inset 0 3px 5px rgba(0, 0, 0, 0);
                    }

                    &:disabled {
                        color: #3874ff;
                        background-color: transparent;
                        border-color: #3874ff;
                    }
                }

                .input_box {
                    input {
                        background: rgba(21, 24, 35, 1);
                        border: 1px solid rgba(50, 55, 72, 1);

                        &::-webkit-input-placeholder {
                            color: rgb(160, 166, 186);
                        }
                    }

                }
            }

            .tabListContact {
                background: rgba(21, 24, 35, 1);
                border: 1px solid rgba(50, 55, 72, 1);
                color: rgb(159, 166, 188);
                th {
                    color: rgb(159, 166, 188);
                }
                td {
                    color: rgb(159, 166, 188);
                }
                tr {
                    border-color: rgba(50, 55, 72, 1);
                    &:hover {
                        background-color: rgba(49, 55, 74, 0.5);
                    }
                }
            }
        }
    }

    .page_calendrier {
        .haut_de_page {
            background: rgba(21, 24, 35, 1);
            border: 1px solid rgba(50, 55, 72, 1);
            .titre{
                color: rgb(159, 166, 188);
            }
        }

        .bas_de_page {
            .nav_bar_verticale {
                background: rgba(21, 24, 35, 1);
                border: 1px solid rgba(50, 55, 72, 1);
                .svgImage {
                    fill: rgb(159, 166, 188);
                }
            }

            .Calendrier {
                background: rgba(21, 24, 35, 1);
                border: 1px solid rgba(50, 55, 72, 1);

                .Titre {
                    background: rgba(21, 24, 35, 1);
                    border-right: 1px solid rgba(50, 55, 72, 1);
                    color: rgb(159, 166, 188);

                    .mini_formulaire_evenement {
                        .ajout_input {
                            background: rgba(21, 24, 35, 1);
                            border: 1px solid rgba(50, 55, 72, 1);
                            color: #fff;
                        }

                        .date {
                            background: rgba(21, 24, 35, 1);
                            border: 1px solid rgba(50, 55, 72, 1);
                            color: #fff;
                        }

                    }
                }
            }
        }
    }

    .page_dashboard {
        .haut_de_page {
            background: rgba(21, 24, 35, 1);
            border: 1px solid rgba(50, 55, 72, 1);
        }

        .bas_de_page {
            .nav_bar_verticale {
                background: rgba(21, 24, 35, 1);
                border: 1px solid rgba(50, 55, 72, 1);
                .svgImage {
                    fill: rgb(159, 166, 188);
                }
            }

            .Dashboard {
                ._gauche {
                    ._haut {
                        .Mes_infos {
                            background: rgba(21, 24, 35, 1);
                            border: 1px solid rgba(50, 55, 72, 1);
                        }

                        .Alertes {
                            background: rgba(21, 24, 35, 1);
                            border: 1px solid rgba(50, 55, 72, 1);
                        }
                    }

                    ._bas {
                        .Mes_prochaines_activités {
                            background: rgba(21, 24, 35, 1);
                            border: 1px solid rgba(50, 55, 72, 1);
                        }

                        .Chiffre_clés {
                            .Ch_Clé_gauche {
                                .Ch_Clé_gauche_haut {
                                    background: rgba(21, 24, 35, 1);
                                    border: 1px solid rgba(50, 55, 72, 1);
                                }

                                .Ch_Clé_gauche_bas {
                                    background: rgba(21, 24, 35, 1);
                                    border: 1px solid rgba(50, 55, 72, 1);
                                }
                            }

                            .Ch_Clé_droite {
                                .Ch_Clé_droite_haut {
                                    background: rgba(21, 24, 35, 1);
                                    border: 1px solid rgba(50, 55, 72, 1);
                                }

                                .Ch_Clé_droite_bas {
                                    background: rgba(21, 24, 35, 1);
                                    border: 1px solid rgba(50, 55, 72, 1);
                                }
                            }
                        }
                    }
                }

                ._droite {
                    .clients_important {
                        background: rgba(21, 24, 35, 1);
                        border: 1px solid rgba(50, 55, 72, 1);
                    }

                    .contacts_ajouté_récemment {
                        background: rgba(21, 24, 35, 1);
                        border: 1px solid rgba(50, 55, 72, 1);
                    }
                }

            }
        }
    }
}